$landingIconGapSize: 68px;
$landingIconLineBottomSize: 86px;
$landingIconFacebookBottomSize: calc(
  #{$landingIconLineBottomSize} + #{$landingIconGapSize}
);
$landingIconWhatsappBottomSize: calc(
  #{$landingIconLineBottomSize} + #{$landingIconGapSize} + #{$landingIconGapSize}
);

#sui-right-widgets {
  position: absolute;
  right: 0;
}

.widget-btn {
  position: fixed;
  display: block;
  width: 56px;
  height: 56px;
  right: 16px;
  z-index: 9970;
  border: none;
  border-radius: 50%;
  box-shadow: 1px 2px 8px 0px #000;
  cursor: pointer;
}

#sui-facebook-btn {
  bottom: $landingIconFacebookBottomSize;
  background: 50%/24px no-repeat
  url(https://seasalt-cdn.s3.us-west-2.amazonaws.com/f2e/icon-facebook.svg);
  background-size: cover;
}

#sui-line-btn {
  bottom: $landingIconLineBottomSize;
  background: 50%/24px no-repeat
  url(https://seasalt-cdn.s3.us-west-2.amazonaws.com/f2e/icon-line.svg);
  background-size: cover;
}

#sui-whatsapp-btn {
  bottom: $landingIconWhatsappBottomSize;
  background: 50%/24px no-repeat
    url(https://seasalt-cdn.s3.us-west-2.amazonaws.com/f2e/icon-whatsapp.svg);
  background-size: cover;  
}

#sui-widget-btn {
  position: fixed;
  display: none;
  width: 56px;
  height: 56px;
  right: 16px;
  border: none;
  border-radius: 50%;
  box-shadow: 1px 2px 8px 0px #000;  
  background: 50%/24px no-repeat
    url(https://seasalt-cdn.s3.us-west-2.amazonaws.com/f2e/icon-widget.svg);
  background-size: cover;
  z-index: 9980;

  &.close {
    background: 50%/24px no-repeat
      url(https://seasalt-cdn.s3.us-west-2.amazonaws.com/f2e/icon-close.svg) #fff;
    background-size: cover;
  }
}

#sui-webchat-btn {
  position: fixed;
  display: block;
  width: 56px;
  height: 56px;
  bottom: 16px;
  right: 16px;
  padding: 0;
  font-size: 0;
  color: transparent;
  background: 50%/24px no-repeat
    url(https://ngchat-api-dev.s3.us-west-2.amazonaws.com/icon-chat.gif) #19b9c3;
  background-size: cover;
  border: none;
  border-radius: 50%;
  box-shadow: 1px 2px 8px 0px #000;
  z-index: 9980;
  cursor: pointer;
}

#sui-webchat {
  position: fixed;
  display: none;
  width: 30%;
  min-width: 375px;
  height: 500px;
  bottom: 56px;
  right: 80px;
  margin-top: 24px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.9);
  z-index: 9980;
}
