$mobileIconWidgetBottomSize: 20px;
$mobileIconBottomSize: 56px;
$mobileIconLineBottomSize: calc(
  #{$mobileIconWidgetBottomSize} + #{$mobileIconBottomSize} + 80px
);
$mobileIconFacebookBottomSize: calc(
  #{$mobileIconLineBottomSize} + #{$landingIconGapSize}
);
$mobileIconWhatsappBottomSize: calc(
  #{$mobileIconLineBottomSize} + #{$landingIconGapSize} + #{$landingIconGapSize}
);
$mobileIconWebChatBottomSize: calc(
  #{$mobileIconWidgetBottomSize} + #{$mobileIconBottomSize} + 12px
);

@media only screen and (max-width: 767px) {

  .widget-btn {
    display: none;
    &.show {
      display: block;

      &.show-iframe {
        display: none;
      }
    }
  }

  #sui-facebook-btn {
    bottom: $mobileIconFacebookBottomSize;
  }

  #sui-line-btn {
    bottom: $mobileIconLineBottomSize;
  }

  #sui-whatsapp-btn {
    bottom: $mobileIconWhatsappBottomSize;
  }

  #sui-widget-btn {
    display: block;
    bottom: $mobileIconWidgetBottomSize;
  }

  #sui-webchat-btn {
    display: none;
    bottom: $mobileIconWebChatBottomSize;

    &.show {
      display: block;
    }

    &.show-iframe {
      display: block;
      bottom: $mobileIconWidgetBottomSize;
      z-index: 981;
    }
  }

  #sui-webchat {
    right: 50%;
    transform: translate(50%, -4%);
  }
}
