<footer class="footer text-muted">
    <p style="text-align: center;">{{ .Site.Params.footer | safeHTML }}</p>
  <!-- <div class="container-{{ if .Site.Params.options.fullWidth }}fluid{{ else }}xxl{{ end }}">
    <div class="row">
      <div class="col-lg-8 order-last order-lg-first">
        <ul class="list-inline">
          <li class="list-inline-item">{{ .Site.Params.footer | safeHTML }}</li>
        </ul>
      </div>
      <div class="col-lg-8 order-first order-lg-last text-lg-end">
        <ul class="list-inline">
          {{ range .Site.Menus.footer -}}
            <li class="list-inline-item"><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{ end -}}
        </ul>
      </div>
    </div>
  </div> -->
  <link type="text/css" href="https://www.gstatic.com/business-messages/v2/bm_widget_button.css" rel="stylesheet">
  <script crossorigin="use-credentials" src="https://businessmessages.google.com/widget/v2/js"></script>
  <div class="google-widget">
      <button style="background-color: #19b6c0; background: 50%/24px no-repeat url(https://www.gstatic.com/business-messages/v2/bm_widget_icon_white.svg) #19b6c0;" data-bm-widget-layout="floating" data-bm-widget-agent-id="c4ec38e1-69d1-43d3-8bf8-64b96ad28a43">
      <span class="bm-widget-button-text">Chat with Seasalt.ai</span>
      </button>
  </div>
</footer>
