<footer class="footer text-muted">
  <p style="text-align: center;">{{ .Site.Params.footer | safeHTML }}</p>
  {{ partial "partials/footer/widget.html" . }}
  {{ range .Site.Params.custom_js }}
    <script src="{{ . | absURL }}"></script>
  {{ end }}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PJGXPTGC" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

</footer>